<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mycap At Test App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mycap_at_test_app</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSCalendarsUsageDescription</key>
    <string>This app requires access to your calendars to read and create events.</string>

    <key>NSRemindersUsageDescription</key>
    <string>This app requires access to your reminders to read and create tasks.</string>

    <key>NSContactsUsageDescription</key>
    <string>This app requires access to your contacts to read and manage contact information.</string>

    <key>NSCameraUsageDescription</key>
    <string>This app requires access to your camera to take photos and record videos.</string>

    <key>NSMicrophoneUsageDescription</key>
    <string>This app requires access to your microphone to record audio.</string>

    <key>NSSpeechRecognitionUsageDescription</key>
    <string>This app requires speech recognition to convert spoken words into text.</string>

    <key>NSPhotoLibraryUsageDescription</key>
    <string>This app requires access to your photo library to read and save images.</string>

    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app requires your location while in use to provide location-based features.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>This app requires your location at all times to support background location updates.</string>

    <key>NSMotionUsageDescription</key>
    <string>This app requires access to motion and fitness data to track your activity.</string>

    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>This app requires Bluetooth access to discover and communicate with devices.</string>

    <key>NSAppleMusicUsageDescription</key>
    <string>This app requires access to your media library to read and play your music and videos.</string>

    <key>NSMediaLibraryUsageDescription</key>
    <string>This app requires access to your media library to organize and manage your media content.</string>

    <key>NSUserTrackingUsageDescription</key>
    <string>This app would like permission to track you across apps and websites for advertising purposes.</string>

    <key>NSCriticalAlertUsageDescription</key>
    <string>This app requires the ability to send critical alerts that bypass Do Not Disturb.</string>

    <key>NSSiriUsageDescription</key>
    <string>This app requires Siri integration to provide voice command features.</string>

</dict>
</plist>
